{% extends "streampunk/base.html" %}
{% load streampunk_filters %}
{% block title %}Check Results{% endblock %}
{% block body_content %}
<table border="1">
{% for checkOutput in checkOutputs %}
<tr><td><a href="#{{ checkOutput.check.module }}">{{checkOutput.check.name}}</a></td></tr>
{% endfor %}
</table>

{% for checkOutput in checkOutputs %}
<h2><a name="{{checkOutput.check.module}}">{{ checkOutput.check.name }}</a></h2>
{% if checkOutput.person_list %}
{% include "streampunk/checks/person_list.html" %}
{% endif %}
{% if checkOutput.item_list %}
{% include "streampunk/checks/item_list.html" %}
{% endif %}
{% if checkOutput.mixed_tuple_list %}
{% include "streampunk/checks/mixed_tuple_list.html" %}
{% endif %}
{% empty %}
<p>No checks selected...</p>
{% endfor %}
{% endblock %}
