<ul id="streampunk_cssdropdown">
  <li class="streampunk_menu_mainitems">
    <a href="">About</a>
  </li>
  <li class="streampunk_menu_mainitems">
    <a href="">CSS Gallery</a>
    <ul class="streampunk_menu_subuls">
      <li><a href="">Gordon Mac</a></li>
      <li><a href="">Juiced Thoughts</a></li>
      <li><a href="">The Daily Flight</a></li>
      <li><a href="">Grapefruit</a></li>
    </ul>
  </li>
  <li class="streampunk_menu_mainitems">
    <a href="">CSS Examples</a>
    <ul class="streampunk_menu_subuls">
      <li><a href="">CSS2 generated content</a></li>
      <li><a href="">Custom scrollbar colours</a></li>
      <li><a href="">Markerless and "no indent' lists</a></li>
    </ul>
  </li>
  <li class="streampunk_menu_mainitems">
    <a href="">Help</a>
  </li>
</ul>
{% comment %}
Based on code from:
http://www.cssdrive.com/index.php/examples/exampleitem/css_drop_down_menu/
which is copyright CSS Drive 2004-2010
{% endcomment %}

