{% load streampunk_filters %}
<td>
{% for i in items %}
  {% ifequal i.room r %}
    {% ifequal i.start s %}
      {{ i|linky|safe }}
      <br/>
      {% for p in people %}
        {% ifequal p.item i %}
          {% if perms.streampunk.read_private %}
            <span class="personname">{{ p.person|linky|safe }}<br/></span>
          {% else %}
            <span class="personname">{{ p.person|linky:p.person.as_badge|safe }}<br/></span>
          {% endif %}
        {% endifequal %}
      {% endfor %}
    {% endifequal %}
  {% endifequal %}
{% endfor %}
{% if perms.streampunk.edit_programme %}
<br/>
<span class="FillSlot"><a href="{% url fill_slot_unsched d=day.id g=grid.id r=r.id s=s.id %}">Fill slot</a></span>
{% endif %}
</td>
