{% if perms.streampunk.read_private %}
{% load streampunk_filters %}
<h2>Kit Requests</h2>
<table border>
{% if item %}
  {% for req in kitrequests %}
    <tr><td>{{ req|linky|safe }}</td></tr>
  {% empty %}
    <tr><td>No kit requests yet</td></tr>
  {% endfor %}
{% else %}
  {% for req in kitrequests %}
    {% for item in req.item_set.all %}
      <tr><td>{{ req|linky|safe }}</td>
          <td>{{ item|linky|safe }}</td>
          <td>{{ item.room|linky|safe}}</td>
          <td>{{ item.day }}</td>
          <td>{{ item.start }}</td>
     </tr>
    {% empty %}
      <tr><td>{{ req|linky|safe }}</td><td colspan="4">Not assigned to any items</td></tr>
    {% endfor %}
  {% empty %}
    <tr><td>No kit requests yet</td></tr>
  {% endfor %}
{% endif %}
</table>
{% endif %}
