{% extends "streampunk/base.html" %}
{% load streampunk_filters %}
{% block title %}Thingy results{% endblock %}
{% block body_content %}

<p>
Added these tags:<br/>
<table border>
{% for tag in tags %}
  <tr><td>{{ tag }}</td></tr>
{% empty %}
  <tr><td>No tags in page</td></tr>
{% endfor %}
</table>
</p>

<p>
...to these items:<br/>
<table border>
{% for item in items %}
  <tr><td>{{ item }}</td></tr>
{% empty %}
  <tr><td>No items in page</td></tr>
{% endfor %}
</table>
</p>

<p>
...and to these people:<br/>
<table border>
{% for person in people %}
  <tr><td>{{ person }}</td></tr>
{% empty %}
  <tr><td>No people in page</td></tr>
{% endfor %}
</table>
</p>
{% endblock %}
