<div id="banner">
<table border="1">
<tr>
  <td><a href="/progdb/main/">Main</a></td>
  <td><a href="/progdb/grids/">Grids</a></td>
  <td><a href="/progdb/people/">People</a></td>
  <td><a href="/progdb/items/">Items</a></td>
  <td><a href="/progdb/rooms/">Rooms</a></td>
  <td><a href="/progdb/tags/">Tags</a></td>
{% if perms.progdb2.read_private %}
  <td><a href="/progdb/kitbundles/">Kit Bundles</a></td>
  <td><a href="/progdb/kitthings/">Kit Things</a></td>
  <td><a href="/progdb/kitrequests/">Kit Requests</a></td>
  <td><a href="/progdb/checks/">Checks</a></td>
{% endif %}
{% if user.is_staff %}
  <td><a href="/admin/">Admin</a></td>
{% endif %}
  <td>
{% if user.is_authenticated %}
    {{ user.username }}. <a href="/accounts/logout/?next={{ request.path }}">Log out</a>
{% else %}
    <a href="/accounts/login/?next={{ request.path }}">Log in</a>
{% endif %}
  </td>
</tr>
</table>
</div>
