{% extends "progdb2/base.html" %}
{% load progdb_filters %}
{% block title %}People{% endblock %}
{% block body_content %}
<table border>
{% for person in person_list %}
{% if perms.progdb2.read_private %}
  <tr><td> {{ person|linky|safe }} </td></tr>
{% else %}
  <tr><td> {{ person|linky:person.as_badge|safe }} </td></tr>
{% endif %}
{% empty %}
  <tr><td>No people yet</td></tr>
{% endfor %}
</table>
{% if perms.progdb2.edit_programme %}
<p><a href="{{ new_url }}">Add new {{ verbose_name }}</a>.</p>
{% endif %}
{% endblock %}
