{% extends "progdb2/base.html" %}
{% load progdb_filters %}
{% block title %} Kit Bundle: {{ kitbundle.name }}{% endblock %}
{% block body_content %}
<table border>
<tr><th>Name</th><td>{{ kitbundle.name }}</td></tr>
<tr><th>Status</th><td>{{ kitbundle.status }}</td></tr>
</table>

<p><a href="/progdb/edit_kitbundle/{{kitbundle.id}}/">Edit this bundle</a>.</p>

{% include "progdb2/list_kitthings.html" %}
{% include "progdb2/list_kititemassignments.html" %}
{% include "progdb2/list_kitroomassignments.html" %}
{% endblock %}
