{% extends "progdb2/base.html" %}
{% load progdb_filters %}
{% block title %}Person:
{% if user.is_authenticated %}
{{ person }}
{% else %}
{{ person.as_badge }}
{% endif %}
{% endblock %}
{% block body_content %}
<table border>
<tr><th>Name</th><td>
{% if user.is_authenticated %}
  {{ person.firstName }}
  {{ person.middleName }}
  {{ person.lastName }}
{% else %}
{{ person.as_badge }}
{% endif %}
</td></tr>
<tr><th>Badge</th><td>{{ person.badge }}</td></tr>
<tr><th>Mem num</th><td>{{ person.memnum }}</td></tr>
<tr><th>Public Notes</th><td>{{ person.pubNotes }}</td></tr>
{% if user.is_authenticated %}
<tr><th>Email</th><td>{{ person.email }}</td></tr>
<tr><th>Dist Email?</th><td>{{ person.distEmail }}</td></tr>
<tr><th>Contact details</th><td>{{ person.contact }}</td></tr>
<tr><th>Private Notes</th><td>{{ person.privNotes }}</td></tr>
<tr><th>Gender</th><td>{{ person.gender }}</td></tr>
<tr><th>Complete?</th><td>{{ person.complete }}</td></tr>
{% endif %}
</table>

{% if user.is_authenticated %}
<p><a href="/progdb/edit_person/{{ person.id }}/">Edit person</a>.</p>
{% endif %}

<h2>Items</h2>
<table border="1">
{% for itemperson in person_items %}
<tr>
  <td>{{ itemperson.item|linky|safe }}</td>
  <td>{{ itemperson.role }}</td>
  <td>{{ itemperson.status }}</td>
{% if user.is_authenticated %}
  <td><a href="/progdb/delete_itemperson/{{ itemperson.id }}/">Remove</a></td>
{% endif %}
</tr>
{% empty %}
<tr><td>Not on any items</td></tr>
{% endfor %}
</table>

{% if user.is_authenticated %}
<p><a href="/progdb/new_itemperson/?person={{ person.id }}">Add {{ person }} to an item</a>.</p>
{% endif %}

<h2>Tags</h2>
<table border="1">
{% for tag in person_tags %}
<tr><td>{{ tag|linky|safe }}</td></tr>
{% empty %}
<tr><td>No tags yet</td></tr>
{% endfor %}
</table>
{% if user.is_authenticated %}
<p><a href="/progdb/edit_tags_for_person/{{person.id}}/">Edit tags for {{ person }}</a>.</p>
{% endif %}
{% include "progdb2/list_avail.html" %}
{% endblock %}

