{% extends "progdb2/base.html" %}
{% load progdb_filters %}
{% block title %}Room: {{ room.name }}{% endblock %}
{% block body_content %}
<table border>
<tr><th>Name</th><td>{{ room.name }}</td><th>Notes</th></tr>
<tr><th>Description</th><td>{{ room.description }}</td><td rowspan="5">{{ room.privNotes }}</td></tr>
<tr><th>Visible?</th><td>{{ room.visible }}</td></tr>
<tr><th>hasProj?</th><td>{{ room.hasProj }}</td></tr>
<tr><th>Grid order?</th><td>{{ room.gridOrder }}</td></tr>
</table>

{% if user.is_authenticated %}
<p><a href="/progdb/edit_room/{{room.id}}/">Edit room</a>.</p>
{% endif %}

<h2>Items</h2>
<table border="1">
{% for item in room_items %}
<tr><td>{{ item|linky|safe }}</td><td>{{ item.day }}</td><td>{{ item.start }}</td></tr>
{% empty %}
<tr><td>No items in this room</td></tr>
{% endfor %}
</table>
{% include "progdb2/list_avail.html" %}
{% include "progdb2/list_kitthings.html" %}
{% endblock %}
