{% extends "streampunk/base.html" %}
{% block title %}Log in{% endblock %}
{% block body_content %}

{% if user.is_authenticated %}
<p>You're already logged in as {{ user.username }. <a href="{% url logout_then_login %}">Login as someone else</a>.</p>
{% else %}
{% if form.errors %}
  <p class="error">Sorry, that's not a valid username/password.</p>
{% endif %}

<form action="" method="post"> {% csrf_token %}
  <label for="username">Username:</label>
  <input type="text" name="username" value="" id="username" />
  <label for="password">Password:</label>
  <input type="password" name="password" value="" id="password" />

  <input type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>
<p>
Forgotten your password? <a href="{% url password_reset %}">Reset it</a>.
</p>
{% endif %}
{% endblock %}
