{% extends "streampunk/base.html" %}
{% block title %}Reset password{% endblock %}
{% block body_content %}

{% if form.errors %}
  <p class="error">Hmm, something went wrong</p>
{% endif %}

<form action="" method="post"> {% csrf_token %}
<table border="1">
{{ form.as_table }}
</table>
<input type="submit" name="submit" value="Reset password">
</form>
<p>
When you submit this form, an email message will be sent to your address containing a link. When you receive the email, click on the link to reset the password.
</p>
{% endblock %}

